<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
=======
.header {
  display: none;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 75px;
  background-color: rgb(55, 124, 145);
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: none;
  transition: box-shadow 0.30s;
}
>>>>>>> 2979ebcfcc20e774481cf4a45a62ced5012abe9a

  body {
    padding-top: 2000px;
  }

  header {
    background-color: rgb(55, 124, 145);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

<<<<<<< HEAD
  li {
    list-style: none;
  }
=======
.logo {
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.30s;
}
>>>>>>> 2979ebcfcc20e774481cf4a45a62ced5012abe9a

  a {
    color: white;
    text-decoration: none;
    font-family: Orbitron;
  }

<<<<<<< HEAD
  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    transition: 0.30s;
  }
=======
.menu-container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-column-gap: 20px;
  padding-right: 10%;
  justify-content: right;
}
>>>>>>> 2979ebcfcc20e774481cf4a45a62ced5012abe9a

  .nav-logo {
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  .logo {
    height: 65px;
    border-radius: 50%;
    transition: 0.30s;
  }
  
  .nav-logo:hover .logo {
    opacity: 0.8;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-right: 6%;
  }

  .nav-link {
    transition: 0.3s ease;
  }

  .nav-link:hover {
    color: lightgrey;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 1.5px;
  }

  @media(max-width: 768px) {
    .hamburger {
      display: block;
    }
    
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    } 

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    } 

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    } 

    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: rgb(55, 124, 145);
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding: 0;
    }

    .nav-item {
      margin: 16px 0;
    }

    .nav-menu.active {
      left: 0;
    } 
  }