* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer {
  background-color: #1B567D;
  padding: 70px 0;
}

.footer-rows {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-logo-container {
  margin-top: -35px;
}

.footer-button {
  background-color: transparent;
  border: none;
}

.footer-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: teal;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.30s ease;
}

.footer-col ul li a:hover {
  color: lightgrey;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}


@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}